.Input {
  display: flex;
  align-items: center;
  width: 100%;
  input {
    padding: 0 20px;
    outline: none;
    height: 40px;
    width: 100%;
    background: $GreyLight;
    border-radius: 50px;
    border: none;
    color: $GreyDark;
    font-size: $FontSize__4;
    resize: none;
  }
}

.Input__error {
  border: 2px solid $Red !important;
  background: rgba($Red, 0.4) !important;
}

// ? Red error check showing only on small screens
.Input__error__image {
  height: 18px;
  width: 18px;
  transform: translateX(-22px);
  position: absolute;
}

div[role='tooltip'] {
  div {
    font-size: $FontSize__2;
  }
}
