.Input {
  border: none;
  padding: 20px;
  border-radius: 50px;
  background: #ebeef1;
  color: $PurpleDark;
  font-size: 18px;
  letter-spacing: 1.2px;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: $GreyDark;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.2px;
  }
}

.Input__textarea {
  border-radius: 20px;
  resize: none;
}

.Input__error {
  border: 1px solid red;
}

.Input__error__label {
  margin: 0;
  color: red;
  font-size: 14px;
  margin: 5px;
}
