.CardsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  .CardsContainer__item {
    margin-bottom: 40px;
  }
  & .CardsContainer__item:nth-child(odd) {
    .Card {
      flex-direction: row;
      @include xs {
        flex-direction: column;
      }
      .Card__CardMedia {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        @include xs {
          border-radius: unset;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
        }
      }
      .Card__CardTitle {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        @include xs {
          border-radius: unset;
          border-bottom-right-radius: 15px;
          border-bottom-left-radius: 15px;
        }
      }
    }
  }
  & .CardsContainer__item:nth-child(even) {
    .Card {
      flex-direction: row-reverse;
      @include xs {
        flex-direction: column;
      }
      .Card__CardMedia {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        @include xs {
          border-radius: unset;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
        }
      }
      .Card__CardTitle {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        @include xs {
          border-radius: unset;
          border-bottom-right-radius: 15px;
          border-bottom-left-radius: 15px;
        }
      }
    }
  }
}
