.MailSent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  h3 {
    font-size: $FontSize__7;
    color: $GreenBlack;
    text-align: center;
  }
  img {
    height: auto;
    width: 300px;
  }
}

.Contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: $Content__height;
  padding-top: $NavBar__height; // 65px
  .ContactCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 330px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 15px 30px 0 rgba($Black, 0.3), 0 5px 15px rgba($Black, 0.06);
    background: rgba($White, 0.98);
    @include xs {
      width: 75vw;
    }
    .ContactCard__image {
      height: 180px;
      width: 180px;
      transform: translateY(-40px);
      @include xs {
        height: 90px;
        width: 90px;
        transform: translateY(-30px);
      }
      @include sm {
        height: 120px;
        width: 120px;
        transform: translateY(-40px);
      }
      @include md {
        height: 150px;
        width: 150px;
        transform: translateY(-40px);
      }
    }
  }
  .Form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    height: 300px;
    margin: auto;
    transform: translateY(-80px);
    @include xs {
      height: 300px;
      transform: translateY(-40px);
    }
    @include sm {
      height: 330px;
      transform: translateY(-40px);
    }
    @include md {
      height: 330px;
      transform: translateY(-40px);
    }
    .Form__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      .Form__container__inputs {
        width: 60vw;
      }
      .TextArea {
        margin-top: 40px;
      }
    }
    .Form__title {
      color: $GreenBlack;
      text-transform: uppercase;
      font-size: $FontSize__8;
      width: 100vw;
      text-align: center;
      @include xs {
        font-size: $FontSize__7;
      }
      @include sm {
        font-size: $FontSize__7;
      }
    }
    .Button {
      display: flex;
      align-items: center;
      align-self: flex-end;
      background: linear-gradient(
        to left,
        $Green 50%,
        $GreenDark 50%
      ) !important;
      background-size: 200% 100% !important;
      background-position: right bottom !important;
      transition: all 0.35s ease;
      transform: translateY(50px);
      @include xs {
        transform: translateY(30px);
      }
      @include sm {
        transform: translateY(45px);
      }
      @include md {
        transform: translateY(45px);
      }
      &:hover {
        background-position: left bottom !important;
      }
    }
  }
}
