.Card {
  display: flex;
  box-shadow: 0 15px 35px 0 rgba(42, 51, 83, 0.12),
    0 5px 15px rgba(0, 0, 0, 0.06);
  width: $Card__width;
  height: $Card__height;
  margin: 15px;
  border-radius: 15px;
  @include xs {
    height: $Card__height__XS;
  }
  @include lg {
    width: $Card__width__LG;
  }
  .Card__CardMedia {
    width: $Card__width;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .Card__CardMedia__background {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 60%;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      border-radius: 0.5rem;
      border: none;
      box-shadow: 5px 15px 35px 0 rgba(42, 51, 83, 0.12),
        0 5px 15px rgba(0, 0, 0, 0.06);
    }
  }
  .Card__CardTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: $Card__width;
    text-align: center;
    padding: 20px 0;
    background: $White;
    @include xs {
      height: 600px;
    }
    button {
      margin-top: 20px;
    }
    .Card__CardTitle__banner {
      margin: auto;
      .Card__CardTitle__banner__title {
        color: $Black;
        font-size: 2.8rem;
        font-weight: 200;
        margin: 0;
      }
    }
    .Card__CardTitle__tags {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 90%;
      margin: 0 auto;
      margin-top: 20px;
      .Card__CardTitle__tags__tag {
        margin: 5px;
      }
    }
  }
}
