.ProfileCard {
  h1,
  h2 {
    margin: 0;
  }
  .ProfileCard__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    margin-bottom: 30px;
    height: 300px;
    width: 300px;
    max-width: 300px;
    border-radius: 10px;
    background: rgba($White, 0.98);
    box-shadow: 0 15px 55px 0 rgba($Black, 0.25), 0 5px 15px rgba($Black, 0.06);
    @include xs {
      width: 55vw;
      height: 270px;
    }
    .ProfileCard__content__media {
      height: auto;
      width: 150px;
      margin: 0;
      border-radius: 50%;
      background: $White;
      border: 5px solid $White;
      transform: translateY(-50px);
      @include xs {
        width: 130px;
        transform: translateY(-60px);
      }
    }
    .ProfileCard__content__bio {
      transform: translateY(-35px);
      color: $Black;
      text-align: center;
      @include xs {
        transform: translateY(-45px);
      }
      h1 {
        font-size: $FontSize__7;
        font-weight: bold;
        color: $GreenBlack;
        @include xs {
          width: 100vw;
        }
      }
      h2 {
        font-size: $FontSize__6;
        color: $GreenBlack;
      }
    }
    .ProfileCard__content__location {
      transform: translateY(-20px);
      color: $GreenGrey;
      font-size: $FontSize__4;
      text-align: center;
    }
  }
  .Button {
    background: linear-gradient(
      to left,
      $Purple 50%,
      $PurpleDark 50%
    ) !important;
    background-size: 200% 100% !important;
    background-position: right bottom !important;
    transition: all 0.35s ease;
    &:hover {
      background-position: left bottom !important;
    }
  }
}
