.Footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: $Footer__height;
  position: relative;
  .Footer__contact__button {
    align-self: center;
    button {
      box-shadow: 10px 16px 40px 0 rgba(112, 109, 216, 0.5);
    }
  }
}
