.TextArea {
  display: flex;
  align-items: center;
  width: 100%;
  textarea {
    border-radius: 20px;
    padding: 20px 10px;
    height: 100px;
    outline: none;
    width: 100%;
    background: $GreyLight;
    border: none;
    color: $GreyDark;
    font-size: $FontSize__4;
    resize: none;
  }
}

.TextArea__error__image {
  height: 26px;
  width: 26px;
  transform: translateX(-50px);
  position: absolute;
}
