.TextArea {
  display: flex;
  align-items: center;
  width: 100%;
  textarea {
    border-radius: 20px;
    padding: 20px 10px;
    height: 100px;
    outline: none;
    width: 100%;
    background: $GreyLight;
    border: none;
    color: $GreyDark;
    font-size: $FontSize__4;
    resize: none;
  }
}

.TextArea__error {
  border: 2px solid $Red !important;
  background: rgba($Red, 0.4) !important;
}

.TextArea__error__image {
  height: 18px;
  width: 18px;
  transform: translateX(-22px);
  position: absolute;
}
