* {
  font-family: $Rubik;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: $Black;
  a {
    text-decoration: none;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style-type: none;
  }
  div[role='tooltip'] {
    div {
      font-size: $FontSize__2;
    }
  }
}
