* {
  font-family: $Dosis;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background-image: url('../assets/images/cool-background.svg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  a {
    text-decoration: none;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style-type: none;
  }
}
