* {
  font-family: $Rubik;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient($Purple 0, rgba($Purple, 0.2) 0),
    url('../assets/images/flowers.png');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  a {
    text-decoration: none;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style-type: none;
  }
}
