// ? Font
$Dosis: 'Dosis', sans-serif;

// ? <NavBar />
$NavBar__height: 55px;

// ? <ContentWrapper />
// 35px is NavBar margin-top
$ContentWrapper__height: calc(100vh - (#{$NavBar__height} + 35px));
$ContentWrapper__width: 100vw;
