$Montserrat: 'Montserrat', sans-serif;
$Dosis: 'Dosis', sans-serif;

// ? <Card />
$Card__width: 90vw;
$Card__height: 420px;

$Card__width__LG: 60vw;
$Card__height__XS: 550px;

// ? <Contact />
$Contact__container__width: 80vw;
$Contact__container__height: 75vh;

// ? <Footer />
$Footer__height: 250px;
