.Portfolio {
  display: grid;
  grid-template-columns: 20vw 80vw;
  min-height: $Content__height;
  width: 100%;
  padding-top: $NavBar__height;
  .Portfolio__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px 0 250px 30px;
    .Portfolio__list__listitem {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .Portfolio__list__listitem__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        font-size: $FontSize__6;
        // color: $GreyGreen;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(
          to right,
          $White 50%,
          $White 50%,
          $GreenGrey 50%
        );
        background-size: 200% 100%;
        background-position: 100%;
        &:hover {
          transition: all 0.3s cubic-bezier(0, 0, 0.23, 1);
          background-position: 0%;
        }
      }
    }
    // ? ITEM ACTIVE
    .Portfolio__list__listitem__active {
      .Portfolio__list__listitem__title {
        transition: 0.5s;
        margin-left: 40px;
        width: 100%;
        -webkit-text-fill-color: unset;
        color: $Green;
        font-weight: bold;
      }
      .Portfolio__list__listitem__title__explore {
        p {
          color: $GreenWhite;
          font-size: $FontSize__3;
          margin: 0;
          &:hover {
            color: $White;
          }
        }
      }
    }
  }
  .Portfolio__list__listitem__banner__container {
    height: auto;
    width: 95%;
    margin: auto;
    box-shadow: 0 15px 55px 0 rgba($GreenBlack, 0.05),
      0 5px 15px rgba($GreenBlack, 0.05);
    border-radius: 10px;
    .Portfolio__list__listitem__banner__image {
      height: auto;
      width: 100%;
      border-radius: 10px;
    }
  }
}
