.Portfolio {
  // background: $White;
  width: 100%;
  height: $ContentWrapper__height;
  display: grid;
  grid-template-columns: 20vw 80vw;
  .Portfolio__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px 0 250px 30px;
    .Portfolio__list__listitem {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .Portfolio__list__listitem__title {
        cursor: pointer;
        // width: 150px;
        // max-width: 150px;
        color: $Black;
        font-size: 22px;
        transition: 0.3s;
      }
    }
    .Portfolio__list__listitem__active {
      .Portfolio__list__listitem__title {
        margin-left: 50px;
        color: $Green;
        font-weight: bold;
        transition: 0.3s;
      }
    }
  }
  .Portfolio__list__listitem__banner__container {
    height: auto;
    width: 95%;
    margin: auto;
    box-shadow: 0 15px 55px 0 rgba(112, 109, 216, 0.25),
      0 5px 15px rgba(112, 109, 216, 0.06);
    position: relative;
    border-radius: 0.5rem;
    .Portfolio__list__listitem__banner__image {
      height: auto;
      width: 100%;
      border-radius: 0.5rem;
    }
    .Portfolio__list__listitem__banner__eye {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      border-radius: 0.5rem;
      background: rgba(0, 0, 0, 0.4);
      position: absolute;
      a {
        color: $White;
      }
    }
  }
}
