.Socials {
  text-align: center;
  padding: 10px;
  .Socials__icon {
    height: 36px;
    width: 36px;
    margin: 0 10px;
    @include xs {
      height: 30px;
      width: 30px;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}
