.Socials {
  text-align: center;
  background: rgba(0, 0, 0, 0.04);
  width: 100%;
  bottom: 0;
  position: absolute;
  .Socials__icon {
    width: 36px;
    height: 36px;
    margin: 0 10px;
    padding: 20px 0;
  }
}
