.NavBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: $NavBar__height;
  width: 100vw;
  background: $Black;
  .NavBar__NavLinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      align-self: flex-end;
      height: 40px;
      margin-right: 70px;
      @include xs {
        margin: 0;
      }
      .NavBar__NavLinks__NavLink {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $GreenGrey;
        font-size: $FontSize__4;
        height: 30px;
        text-decoration: none;
        margin: 0 10px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(
          to right,
          $White 50%,
          $White 50%,
          $GreenGrey 50%
        );
        background-size: 200% 100%;
        background-position: 100%;
        &:hover {
          transition: all 0.3s cubic-bezier(0, 0, 0.23, 1);
          background-position: 0%;
        }
        @include xs {
          font-size: $FontSize__3;
        }
      }
      .NavBar__NavLinks__NavLink__active {
        -webkit-text-fill-color: unset;
        color: $White;
        background: $Green;
        border-radius: 50px;
        min-width: 90px;
        margin: 0;
        padding: 5px 10px;
        font-weight: bold;
        @include xs {
          min-width: 75px;
        }
      }
    }
  }
}
