.PrevButton {
  display: flex;
  align-items: center;
  span {
    color: $GreenWhite;
    font-size: $FontSize__3;
  }
  img {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    &:hover {
      opacity: 0.7;
    }
  }
}
